<section class="destinations d-none d-md-block d-lg-block">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/contry01.jpg">
            <h5>Starting at <b>BHD 45</b></h5>
            <h4>Sydney</h4>
          </div>
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/contry02.jpg">
            <h5>Starting at <b>BHD 45</b></h5>
            <h4>Delhi</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/contry03.jpg">
            <h5>Starting at <b>BHD 45</b></h5>
            <h4>Paris</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <h3>Explore our <br> popular destinations</h3>
          <p>Find the best price on flights to our most popular destination<p>
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/contry04.jpg">
            <h5>Starting at <b>BHD 45</b></h5>
            <h4>New York</h4>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/contry05.jpg">
            <h5>Starting at <b>BHD 45</b></h5>
            <h4>Qatar</h4>
          </div>
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/contry06.jpg">
            <h5>Starting at <b>BHD 45</b></h5>
            <h4>Kuwait</h4>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <div class="container d-lg-none d-md-none d-sm-block mob_view">
      <h3>Explore our popular destinations</h3>
      <p>Find the best price on flights to our most popular destination</p>
  
      <div id="owl-demo2" class="owl-carousel owl-theme">
  
        <div class="item">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/desti_m01.jpg" alt="">
            <h5>Starting at | <b>BHD 45</b></h5>
            <h4>Sydney</h4>
          </div>
        </div>
        <div class="item">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/desti_m02.jpg" alt="">
            <h5>Starting at | <b>BHD 45</b></h5>
            <h4>Delhi</h4>
          </div>
        </div>
        <div class="item">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/desti_m03.jpg">
            <h5>Starting at | <b>BHD 45</b></h5>
            <h4>Paris</h4>
          </div>
        </div>
        <div class="item">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/desti_m04.jpg">
            <h5>Starting at <b>BHD 45</b></h5>
            <h4>New York</h4>
          </div>
        </div>
        <div class="item">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/desti_m05.jpg">
            <h5>Starting at | <b>BHD 45</b></h5>
            <h4>Qatar</h4>
          </div>
        </div>
        <div class="item">
          <div class="desti_city">
            <img class="img-fluid" src="assets/images/desti_m06.jpg">
            <h5>Starting at | <b>BHD 45</b></h5>
            <h4>Kuwait</h4>
          </div>
        </div>
  
      </div>
  
    </div>
