@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap&subset=arabic,latin-ext');

/*
font-family: 'Cairo', sans-serif;

*/


@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans_500-webfont.woff2') format('woff2'),
         url('../fonts/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.woff2') format('woff2'),
         url('../fonts/museosans_700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans100';
    src: url('../fonts/museosans-100-webfont.woff2') format('woff2'),
         url('../fonts/museosans-100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont.woff2') format('woff2'),
         url('../fonts/museosans-300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_rounded900';
    src: url('../fonts/museosansrounded-900-webfont.woff2') format('woff2'),
         url('../fonts/museosansrounded-900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





* {
	box-sizing: border-box;
}
ul, li, ol, h1, h2, h3, h4, h5, h6, a, article, p {
	margin: 0;
	padding: 0;
}
a:hover, a:focus, a:visited {
	text-decoration: none;
	outline: none !important;
}
ul li {
	display: inline-block;
}
p {
	font-size: 14px;
}
img {
	max-width: 100%;
}
a:hover {
	text-decoration: none;
}
dl {
	margin: 0;
}
.row{ margin:inherit;}
/*============= Logo + Menu Top ==============*/
.container {
	max-width: 1200px;
}
header {
    background: #f8f7f7;
    z-index: 99999;
    width: 100%;
}
header .navbar {
	padding: 7px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
a.extra_font {
	font-family: 'Cairo', sans-serif;
}
header ul a {
	font-family: 'museo_sans500';
	color: #000851;
	padding-left: 12px !important;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	transition: 0.3s;
}
header ul a:hover {
	color: #787878;
	transition: 0.3s;
}
header ul a:focus {
	color: #787878;
}
ul.nav_right li {
	margin: 0 !important;
	
}
	
header .navbar-collapse ul li {
	margin: 0 10px;
	 position: relative;
}
header .navbar-collapse ul li:last-child {
	margin: 0;
}
header .navbar-collapse ul li:last-child ul{ margin-left:0 !important;}
header .navbar-expand-md .navbar-nav .dropdown-menu {
	z-index: 9999;
	top: 50px;
	left: auto;
	right: 0;
	min-width: 200px;
	padding: 5px 15px;
	border-radius: 0 0 4px 4px;
	border: none;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.flag_icon {
	left: -10px !important;
	right: auto;
}
header .navbar-expand-md .navbar-nav .dropdown-menu li {
	padding: 0;
	color: #0f004c;
	font-weight: 300;
	margin: 0;
	border-bottom: 1px solid #eee;
	display:block;
	
}
header .navbar-expand-md .navbar-nav .dropdown-menu li:last-child {
	border: none;
}
header .navbar-expand-md .navbar-nav .dropdown-menu a {
	color: #110251;
	font-weight: 500;
	text-transform: capitalize;
	font-size: 16px;
	text-align: left;
	padding: 0  !important;
	line-height: 40px;
	
}
header .navbar-expand-md .navbar-nav .dropdown-menu p {
	margin: 0 0 10px 0;
	font-size: 13px;
	color: #797979;
}
header .navbar-expand-md .navbar-nav .dropdown-menu hr {
	margin: 8px 0;
}
header .navbar-expand-md .navbar-nav .dropdown-menu a:hover {
	background: none;
}
header .navbar-expand-md .navbar-nav .dropdown-menu ul {
	margin-left:5px;
}
header .navbar-expand-md .navbar-nav .dropdown-menu ul li img {
	margin-right: 5px;
}
.flag_icon ul li a {
	font-weight: 400 !important;
	font-size: 14px !important;
}

.square_btn{
   position: relative;
	font-family: 'museo_sans500';
	color: #6c6e80;
	padding-left: 12px !important;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	transition: 0.3s;  
}

.square_btn:hover:before{
    position: absolute;
    content: '';
    width: 75%;
    height: 4px;
    top: 49px;
    left: 9px;
    background: #e7762a;
    transition: .2s;
}
.square_btn:hover{ color:#000851;}

li.arrow-up:hover:after { 
    z-index: 1;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 7px #e7762a;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    position: absolute;
    top: 44px;
    left: 39%;
}
ul.nav_right li.active:after{z-index: 1;
    content: '';
    width: 0;
    height: 0;
    border-bottom: solid 7px #e7762a;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    position: absolute;
    top: 44px;
    left: 39%;}
ul.nav_right li.active a:before{
    position: absolute;
    content: '';
    width: 75%;
    height: 4px;
    top: 49px;
    left: 9px;
    background: #e7762a;
    transition: .2s;
	
}	
ul.nav_right li.active a{color:#000851;}
.login {
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 5px;
}
.login p {
	margin: 10px 0 !important;
}
.login_btn {
	background: #393492;
	border: 1px solid #393492;
	padding: 5px 30px;
	border-radius: 5px;
	line-height: 22px;
	margin-bottom: 15px;
	width: 100%;
	margin-top: 10px;
}
.login_btn:hover {
	background: none;
	border: 1px solid #fa7e2c;
	color: #fa7e2c;
}
.sign_btn {
	background: none;
	border: 1px solid #393492;
	color: #393492;
	padding: 5px 20px;
	border-radius: 5px;
	line-height: 22px;
	margin-bottom: 5px;
	width: 100%;
}
.sign_btn:hover {
	background: #fa7e2c;
	border: 1px solid #fa7e2c;
	color: #fff;
}
header .navbar-expand-md .navbar-nav .dropdown-menu:before {
	background: #ff7b22;
	content: "";
	position: absolute;
	top: 0px;
	height: 2px;
	width: 80%;
	text-align: center;
	left: 20px;
}
header .navbar-expand-md .navbar-nav .div_login:before {
	background: #ff7b22;
	content: "";
	position: absolute;
	top: 0px;
	height: 2px;
	width: 70%;
	text-align: center;
	left: 18px;
}
header .navbar-expand-md .navbar-nav .div_login {
	min-width: 132px;
	left: -20px;
}
.navbar-expand-md a.navbar-toggler {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
}
.navbar-toggler {
	background: none;
	margin-top: 10px;
}
.navbar-toggler-icon {
	background: #fa7e2c;
	display: block;
	height: 1px;
	margin: 3px;
}

header .navbar-collapse ul li img.img_memu {
	margin-top: -6px;
	margin-left: 5px;
}
.navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active {
	outline: 0;
	background: none !important;
}
.navbar-toggler span {
	display: block;
	background-color: #e77529;
	height: 3px;
	width: 25px;
	margin-top: 4px;
	margin-bottom: 4px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	position: relative;
	left: 0;
	opacity: 1;
}
.navbar-toggler span:nth-child(1), .navbar-toggler span:nth-child(3) {
	-webkit-transition: transform .35s ease-in-out;
	-moz-transition: transform .35s ease-in-out;
	-o-transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px;
	visibility: hidden;
	background-color: transparent;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
}
/*============= Menu Top ==============*/


/*============= Banner Section ==============*/


.banner {
	position: relative;
}
.booking-form {
	position: absolute;
	left: 0px;
	z-index: 1000;
	width: 100%;
}
.booking-form h2 {
	font-family: 'museo_sans700';
	color: #fff;
	font-size: 26px;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 50px;
	font-weight: 600;
	letter-spacing: 1px;
}
.tab-btn {
	width: auto;
	padding: 1px;
	background: #f0efef;
	display: inline-block;
	border-radius: 20px;
}
.tab-btn a {
	font-family: 'museo_sans300';
	display: inline-block;
	padding: 5px 20px;
	color: #787878;
	font-size: 14px;
	border-radius: 20px;
}
.tab-btn a.active {
	background: #303a95;
	color: #fff;
}
.slider-form {
	width: 100%;
	padding: 4px 10px 0px;
	/* padding: 13px 10px 2px; */
	background: #fcfcfc;
	display: inline-block;
	border-radius: 5px;
	margin-top: 30px;
}
.form-box {
	width: 40%;
	float: left;
	text-align: left;
	padding: 10px 10px;
	color: #a2a3ae;
	font-size: 14px;
	font-family: 'museo_sans300';
}
.form-box:last-child {
	border: none;
	width: 20%;
}
.slider-form .input--style-1 {
	border: none;
	box-shadow: none;
	background: none;
	padding-left: 20px;
	font-family: 'museo_sans300';
	color:#a2a3ae;
}
.img_form01 {
	position: absolute;
	right: 47%;
	top: 8px;
}
.slider-form .input-group {
	margin-bottom: 0;
	text-align: left;
}
.slider-form .input-group:after {
	background: #e6e6e6;
	height: 45px;
	content: "";
	position: absolute;
	width: 1px;
	left: -17px;
}
.date_pik {
	position: absolute;
	right: 94%;
	top: 11px;
}
.slider-form input[type=text][disabled] {
	background: none;
}
.banner .slider-form .dropdown-select {
	padding: 0;
	border-radius: 0;
}
.banner .slider-form .dropdown-select ul {
	margin: 0;
	padding: 0;
}
.banner .slider-form .dropdown-select li {
	margin: 0;
	padding: 0;
}
.banner .slider-form .dropdown-select li ul li {
	background: #f5f5f5;
	margin-bottom: 4px;
	padding: 10px 10px;
	width:100%;
}
.banner .slider-form .dropdown-select:before {
	background: #d25906;
	left: 0;
	height: 2px;
	width: 50%;
	content: "";
	position: absolute;
}
.carousel-indicators li {
    width: 40px;
    margin: 0 8px 0 0;
}
.line_b {
	background: #e4e4e4;
	height: 56px;
	width: 1px;
	z-index: 999999999;
	display: inline-block;
	margin-left: -220px;
	margin-top: -10px;
}
.form-box img.icon {
	margin-left: -30px;
	margin-top: 6px;
	position: relative;
}
.form-box img.icon:after {
	content: "";
	background: #eee;
	position: absolute;
	left: 0;
	height: 50px;
	width: 1px;
}
.form-box img:after {
	content: "";
	background: #eee;
	position: absolute;
	left: 0;
	height: 50px;
	width: 1px;
}
.form-box img {
	margin: 0;
	float: left;
	margin-top: 11px;
}
.slider-form .form-control {
	border: none;
	box-shadow: none;
	outline: none;
	width: 100%;
	background: none;
	margin: 0;
}
.slider-form .form-control:focus {
	box-shadow: none;
}
.banner .carousel-caption {
    bottom: 145px;
    left: auto;
    right: auto;
}
.banner .carousel-caption h5 {
	font-size: 26px;
	color: #fff;
	font-family: 'museo_sans500';
	line-height: 30px;
}
.banner .carousel-caption p {
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	font-family: 'museo_sans300';
	margin:10px 0 0;
}
.banner .carousel-indicators {
    bottom:140px;
    left: auto;
    right: auto;
    margin:0;
}
.cutom-checkbox {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 12px;
    width: auto;
    background: rgba(0,0,0,0.4);
    display: inline-block;
    float: left;
    border-radius: 5px;
    margin-top: 21px;
    margin-right: 12px;
    padding: 7px 20px;
	
}
.cutom-checkbox small {
    font-size: 13px;
    color: #fff;
    font-family: 'museo_sans500';
    margin-left: 15px;
    display: block;
}
/* Hide the browser's default checkbox */
.cutom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 8px;
	left: 8px;
	height: 17px;
	width: 17px;
	border: solid 1px #fff;
	border-radius: 3px;
}
/* On mouse-over, add a grey background color */
.cutom-checkbox:hover input ~ .checkmark {
}
/* When the checkbox is checked, add a blue background */
.cutom-checkbox input:checked ~ .checkmark {
	border: solid 1px #fff;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.cutom-checkbox input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.cutom-checkbox .checkmark:after {
	left: 3px;
	top: 3px;
	width: 9px;
	height: 9px;
	background: #ff7523
}
/*Styling Selectbox*/
   
.banner .dropdown dd, .dropdown dt, .dropdown ul {
	margin: 0px;
	padding: 0px;
}
.banner .dropdown dd {
	position: relative;
}
.banner .dropdown dt a {
	color: #a2a1ab;
	display: block;
	padding-right: 20px;
	width: 180px;
	font-weight: 300;
	text-decoration: none;
}
.banner .dropdown dt a span {
	cursor: pointer;
	display: block;
	padding: 8px;
	color: #a2a3ae;
	text-decoration: none;
	font-family: 'museo_sans300';
}
.banner .dropdown dd ul {
	background: #fcfcfc;
	display: none;
	list-style: none;
	position: absolute;
	left: 0px;
	top: 14px;
	width: 350px;
	min-width: 170px;
	z-index: 99;
	border-radius: 0 0 5px 5px;
	overflow-y: auto;
	height: 275px;
}
.banner .dropdown dd ul:before {
	background: #d25906;
	left: 0;
	height: 2px;
	width: 50%;
	content: "";
	position: absolute;
}
.banner .dropdown span.value {
	display: none;
}
.banner .dropdown dd ul li a {
	display: block;
	color: #140053;
	font-size: 13px;
	outline: none;
	text-decoration: none;
	width: 100%;
	float: left;
}
.banner .dropdown dd ul li a small {
	color: #5f5f5f;
	font-size: 13px;
	display: block;
}
.banner .dropdown dd ul li a:hover {
	background-color: none;
	color: #000;
	text-decoration: none;
}
.banner .dropdown dd ul li {
	width: 100%;
	float: left;
	background: #f5f5f5;
	margin-bottom: 4px;
	padding: 5px 10px;
}
.banner .dropdown span.value {
	display: block;
	width: 28%;
	text-align: right;
	line-height: 14px;
}
.banner .dropdowns dd, .dropdowns dt, .dropdowns ul {
	margin: 0px;
	padding: 0px;
}
.banner .dropdowns dd {
	position: relative;
}
.banner .dropdowns dt a {
	color: #a2a1ab;
	display: block;
	padding-right: 20px;
	width: 180px;
	font-weight: 300;
	text-decoration: none;
}
.banner .dropdowns dt a span {
	cursor: pointer;
	display: block;
	padding: 8px;
	color: #a2a3ae;
	text-decoration: none;
	font-family: 'museo_sans500';
}
.banner .dropdowns dd ul {
	background: #fcfcfc;
	display: none;
	list-style: none;
	position: absolute;
	left: 0px;
	top: 14px;
	width: 350px;
	min-width: 170px;
	z-index: 99;
	border-radius: 0 0 5px 5px;
	overflow-y: auto;
	height: 275px;
}
.banner .dropdowns dd ul:before {
	background: #d25906;
	left: 0;
	height: 2px;
	width: 40%;
	content: "";
	position: absolute;
}
.banner .dropdowns span.value {
	display: block;
	float: right;
}
.banner .dropdowns dd ul li a {
	display: block;
	color: #140053;
	font-size: 13px;
	outline: none;
	text-decoration: none;
	width: 100%;
	float: left;
}
.banner .dropdowns dd ul li a small {
	color: #5f5f5f;
	font-size: 13px;
	display: block;
}
.banner .dropdowns dd ul li a:hover {
	background-color: none;
	color: #000;
	text-decoration: none;
}
.banner .dropdowns dd ul li {
	width: 100%;
	float: left;
	background: #f5f5f5;
	margin-bottom: 4px;
	padding: 5px 10px;
}
.banner .dropdowns span.value {
	display: block;
	width: 28%;
	text-align: right;
	line-height: 14px;
}
img.r_flag {
	float: right;
	margin: 0 6px;
	margin-top: 3px;
}
img.fly_img {
	margin-right: 4px;
    margin-bottom: 5px;
}
.banner .slider-form ::-webkit-scrollbar {
 width: 5px;
 height:20px;
 background:#cbcbcb;
 border-radius:0;
}
.banner .slider-form ::-webkit-scrollbar-track {
border-radius:0;
background:#cbcbcb;
}
.banner .slider-form ::-webkit-scrollbar-thumb {
 border-radius:0;
 background:#a5a5a5;
}
.gj-datepicker-md [role=right-icon] {
	width: 100%;
	text-align: right;
	color: #fcfcfc;
	line-height: 36px;
}
.gj-datepicker-md .gj-textbox-md {
	border: none;
	box-shadow: none;
	background: none;
	margin-bottom: 0;
	width: 80%;
}
.gj-textbox-md:active, .gj-textbox-md:focus {
	border-bottom: none !important;
}
/*Styling Selectbox*/


.booking-form  .btn {
    background: #ff7b22;
    font-size: 16px;
    color: #fff;
    padding: 10px 28px;
    border-radius: 7px;
    font-family: 'museo_sans500';
	margin-top:10px;
}
.btn:hover {
	color: #fff;
	background: #d25906
}
.slider-footer {
	
	position: absolute;
    bottom: 150px;
    z-index:1;
    left: 0px;
}
.slider-footer p {
	color: #ddd8d8;
	margin-bottom: 20px;
	font-family: 'museo_sans500';
}
.slider-footer img {
	margin: 0px 16px;
}
.carousel-control-next, .carousel-control-prev {
	z-index: 1000;
	display: none;
}
#demos .owl-carousel .item {
	background: none;
	height: auto;
	padding: 0;
}
.column, .columns {
    padding: 0;
	margin-top:8px;
}
.main_heading {
	text-align: center;
}
.main_heading h2 {
	font-size: 24px;
	font-weight: 500;
	color: #000851;
	font-family: 'museo_sans700';
}
.offers .main_heading p {
	color: #000851;
	font-size: 14px;
	font-family: 'museo_sans300';
	margin-bottom: 0;
}
.offers {
	margin-top: 60px;
}
.offers .offer_details {
	border-radius: 15px;
	background-image: linear-gradient( to right, #ff7b23, #ff2241);
	padding: 30px;
	width: 100%;
	float: left;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
	height:200px;
}
.offers .offer_details h3 {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'museo_sans_rounded900';
}
.offers .offer_bg p {
	color: #fff;
	width: 40%;
	font-family: 'museo_sans500';
}
.offers .offer_details p {
	color: #fff;
	width:60%;
	font-family: 'museo_sans500';
}
.offers .offer_details .btn {
    background: none;
    color: #fff;
    font-family: 'museo_sans_rounded900';
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px dashed #fff;
    margin-top: 10px;
    padding: 8px 10px;
    line-height: initial;
}
.offers .offer_details span {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
    margin-top: 15px;
}
.offers .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	border: 1px solid #d8d8d8;
	padding: 3.5px !important;
	margin-right: 5px;
	border-radius: 50%;
}
.offers .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active {
	background: #ff7b23;
	border: 1px solid #ff7b23;
}
.offers .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot:focus {
	outline: none;
}
.offers .owl-dots {
	text-align: center;
	margin-top: 27px;
}
.offer_bg {
	background: url(../images/offer_bg01.jpg) no-repeat center center;
	width: 100%;
	height: 200px;
	border-radius: 15px;
	padding: 30px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
	background-size: cover;
}
.offer_bg h3 {
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing:2px;
	font-family: 'museo_sans_rounded900';
}
.offer_bg a.btn {
    background: #ff7b23;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 8px;
    margin-top: 10px;
    padding: 4px 10px;
    font-family: 'museo_sans500';
}
.offers .owl-carousel .owl-stage-outer {
	overflow: visible;
}
.offers .owl-carousel {
	overflow: hidden;
}
.bottom-message {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
}
.destinations {
	margin: 32px 0 74px;
}
.destinations .col-lg-3 {
    padding-right: 0;
}
.destinations .col-lg-3:first-child {
    padding-left: 0;
}
.destinations .desti_city {
	margin-bottom: 21px;
	border-radius: 15px;
	background:#f5f5f5;
	overflow: hidden;
	position: relative;
}
.destinations .desti_city img {
	width: 100%;
}
.destinations h3 {
	font-family: 'museo_sans700';
	font-size: 24px;
	color: #000851;
	margin-top:25px;
	line-height: 26px;
    margin-left: 10px;
}
.destinations .desti_city h4 {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: #000851;
    font-family: 'museo_sans500';
}
.destinations p {
	font-family: 'museo_sans300';
	font-size: 14px;
	color: #000851;
	margin: 14px 0 30px;
	margin-left: 10px;
}
.destinations .desti_city h5 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    z-index: 2;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    font-family: 'museo_sans300';
}
.destinations .desti_city h5 b {
	display: block;
}
.destinations .desti_city h5:after {
	content: "";
	width: 100%;
	background-image: linear-gradient(rgba(46,44,43,0.3), rgba(46,44,43,1));
	position: absolute;
	bottom: 0;
	height: 60px;
	left: 0;
	z-index: -1;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}
.about_bg {
	background: url(../images/about_home.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	padding: 71px 0;
}
.about_bg h3 {
	font-family: 'museo_sans700';
	font-weight: 600;
	color: #fff;
	font-size: 24px;
	text-transform: capitalize;
	text-align: center;
}
.about_text {
	margin-top: 90px;
}
.col-1-5 {
    width: 15%;
    float: left;
    position: relative;
    min-height: 1px;
    margin-right: 73px;
    margin-bottom: 40px;
}
.col-1-5:last-child {
    margin-right: 0;
}
.about_text .para_text {
font-family: 'museo_sans500';
    text-align: center;
    color: #000851;
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    font-weight: 400;
    word-wrap: normal;
	line-height:24px;
}
.about_text .para_text img{  
    margin-right: -8px;
    z-index: -5;
    margin-top: -20px;
}
.about_item {
	margin-top: 70px;
	width: 100%;
	float: left;
}
.col-1-5 p {
	font-size: 14px;
	color: #919193;
	font-family: 'museo_sans300';
	margin-top:18px;
}
.popular_countries {
	padding: 54px 0 109px;
	width: 95%;
	margin: 0 auto;
}
.popular_countries h3 {
	font-family: 'museo_sans700';
	font-weight: 600;
	text-align: center;
	font-size: 24px;
	text-transform: capitalize;
	color: #000851;
	border-top: 2px solid #f0f0f0;
	padding-top: 75px;
}
.popular_countries p {
    font-family: 'museo_sans300';
    text-align: center;
    color: #000851;
    font-size: 14px;
    padding-top: 7px;
    font-weight: 300;
}
.countries {
	width: 80%;
	margin: 36px 50px 0 auto;
}
.countries ul li {
	line-height: 42px;
	width: 20%;
	float: left;
}
.countries ul li a {
	font-family: 'museo_sans500';
	color: #b45616;
	font-size: 16px;
	font-weight: 400;
}
.ready_fly {
	background: url(../images/ready-fly.jpg) no-repeat center center;
	width: 100%;
	background-size: cover;
	position: relative;
	height: 220px;
}
.ready_fly .fly_text {
	position: absolute;
	top: 90px;
	z-index: 9;
	right: -40px;
}
.ready_fly .fly_text span {
	font-size: 24px;
	font-weight: 600;
	color: #000851;
	font-family: 'museo_sans700';
}
.ready_fly .fly_text .btn {
	background: #fff;
	border: 1px solid #fff;
	color: #ff7b22;
	font-size: 16px;
	font-weight: 400;
	margin-left: 20px;
	font-family: 'museo_sans500';
	padding: 7px 25px;
	margin-top:0;
}
.ready_fly .fly_text .btn:hover {
	background: none;
	color: #000;
	border: 1px solid #fff;
}
footer {
	background: #f0f0f0;
	padding: 20px 40px 0;
}
.subscribe_sec {
	background: #fff;
	border-radius: 8px;
	padding: 31px 254px 31px 190px;
	margin-top: 55px;
	font-family: 'museo_sans300';
}
.subscribe_sec p {
	text-align: right;
	font-size: 16px;
	margin: 8px 0 0;
	color: #000851;
	font-family: 'museo_sans500';
}
.subscribe_sec .form-control {
	border: 0;
	border-bottom: 1px solid #000851;
	border-radius: 0;
	color: #979797;
	margin-right: 10px;
	padding: 10px 10px 10px 0;
	box-shadow: none;
}
.subscribe_sec .form-control:focus {
	box-shadow: none;
}
.subscribe_sec .btn {
	background: #ff7b22;
	color: #fff;
	transition: 0.3s;
	margin-bottom: 0;
	padding: 5px 30px 5px !important;
	margin-top: 5px;
}
.subscribe_sec .btn:hover {
	background: #d25906;
	transition: 0.3s;
}
footer ul {
	padding: 0;
	margin: 73px auto 67px;
}
footer ul li {
	display: inline-block;
	list-style: none;
	margin: 0 10px;
}
footer ul li a {
	color: #979797;
	font-size: 14px;
	transition: 0.3s;
	font-weight: 400;
	font-family: 'museo_sans500';
}
footer ul li:after {
	content: "|";
	position: absolute;
	margin-left: 12px;
	color: #979797;
}
footer ul li:last-child:after {
	content: "";
}
footer ul li a:hover {
	color: #000851;
	transition: 0.3s;
}
.copy_right {
	border-top: 1px solid #afafaf;
	padding: 19px 0;
}
.copy_right ul {
	margin: 0;
	text-align: right;
	line-height:0;
}
.copy_right ul li {
	margin: 0 0 0 10px;
}
.copy_right ul li:after {
	content: "";
}
.copy_right p {
	color: #979797;
	font-size: 14px;
	font-family: 'museo_sans300';
}
.foot_bottom {
	background: #979797;
	padding: 21px 0;
}
.foot_bottom img {
	margin: 0 15px;
}
.mob_view {
	text-align: center;
}
.mob_view h3 {
	font-size: 24px;
	color: #000851;
	margin-top: 15px;
	line-height: 26px;
}
.mob_view p {
	font-size: 14px;
	color: #000851;
	margin: 10px 0 30px;
}
.mob_view .desti_city {
	margin-bottom: 20px;
	border-radius: 15px;
	background: #f5f5f5;
	overflow: hidden;
	position: relative;
}
.mob_view .desti_city img {
	width: 100%;
}
.mob_view .desti_city h4 {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	padding: 10px;
	color: #000851;
}
.mob_view .desti_city h5 {
	color: #fff;
	text-align: center;
	font-weight: 400;
	position: absolute;
	bottom: 39px;
	left: 0;
	width: 100%;
	z-index: 2;
	margin: 0;
	padding: 10px 0;
	overflow: hidden;
}
.mob_view .desti_city h5:after {
	content: "";
	width: 100%;
	background-image: linear-gradient(rgba(46,44,43,0.3), rgba(46,44,43,1));
	position: absolute;
	bottom: 0;
	height: 60px;
	left: 0;
	z-index: -1;
	filter: blur(8px);
	-webkit-filter: blur(8px);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	display: none;
	background: none;
	height: 0;
	width: 0;
}
/*==========Login Page===============*/


.popup p.pop {
	text-align: center;
	font-size: 13px;
	color: #5b5b5b;
	font-weight: 300;
	font-family: 'museo_sans300';
}
#logreg-forms i {
	font-size: 18px;
	color: #a0a0a0;
}
#logreg-forms .close {
	background: none;
	position: absolute;
	right: 20px;
	top: 16px;
}
#logreg-forms .close:focus {
	outline: none;
}
.popup .modal-body h3 {
	font-size: 20px;
	font-weight: 600;
	color: #000851;
	text-align: center;
	font-family: 'museo_sans500';
}
.popup .mb-3, .my-3 {
	margin-bottom: 0px!important;
}
.popup .modal-body .img-fluid {
	width: 18%;
	padding-bottom: 5px;
}
.popup .social-login .btn span{ display:inline-block;}
.popup .social-login .btn {
   font-weight: 300;
    background: #fff;
    border: solid 1px #ccc;
    color: #4e4e4e;
    font-size: 14px;
    padding: 8px 0px 4px;
    width: 100%;
    margin: 20px 0 8px;
    font-family: 'museo_sans300';
    border-radius: 5px;
	
}
.popup .social-login .btn img {
	margin-right: 6px;
}
.popup .over_text {
	font-size: 13px;
	color: #ccc;
	text-align: center;
	background: #fff;
	width: 10%;
	margin: -35px auto 0;
	font-weight: 300;
}
a#forgot_pswd {
	color: #6e9ef0;
	font-size: 13px;
	font-weight: 300;
	margin:6px 0 0;
	display: inline-block;
}
.popup .form-group {
	margin-top: 20px;
	margin-bottom: 0;
}
.popup .form-control {
	box-shadow: none;
	border-radius: 5px;
	margin-bottom: 20px;
	height: 40px;
	padding: 13px;
	font-size: 14px;
	font-weight: 300;
}
.popup .modal-dialog {
	width: 400px;
	margin-top:-24px;
}
.form-signin hr{ margin:25px 0;}
.modal-body {
	padding: 2rem;
}
.popup .down {
	color: #3d3c3c!important;
	margin-bottom: 0;
	text-align: center;
    font-family: 'museo_sans300';
}
.popup .down a {
	color: #6e9ef0;
	font-size: 15px;
}
.popup .input-group .btn {
	transition: 0.3s;
	border-radius: 5px;
	width: 100%;
	padding: 10px 10px;
	margin-top:15px;
	margin-bottom:10px;
}
 @keyframes check {
 0% {
height: 0;
width: 0;
}
 25% {
height: 0;
width: 6px;
}
 50% {
height: 13px;
width: 6px;
}
}
.popup .form-group small {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
	display: block;
	line-height: 18px;
	font-family: 'museo_sans300';
}
.popup .checkbox {
	background-color: #fff;
	display: inline-block;
	height: 20px;
	margin: 3px 8px 0 0;
	width: 20px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.popup .checkbox span {
	display: block;
	height: 20px;
	position: relative;
	width: 20px;
	padding: 0
}
.popup .checkbox span:after {
	-moz-transform: scaleX(-1) rotate(135deg);
	-ms-transform: scaleX(-1) rotate(135deg);
	-webkit-transform: scaleX(-1) rotate(135deg);
	transform: scaleX(-1) rotate(135deg);
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	border-right: 3px solid #fff;
	border-top: 3px solid #fff;
	content: '';
	display: block;
	height: 13px;
	left: 3px;
	position: absolute;
	top: 11px;
	width: 6px
}
.popup .checkbox span:hover:after {
	border-color: #fff;
}
.popup .checkbox input {
	display: none
}
.popup .checkbox input:checked + span:after {
	-webkit-animation: check .8s;
	-moz-animation: check .8s;
	-o-animation: check .8s;
	animation: check .8s;
	border-color: #555
}
.popup .checkbox input:checked + .default:after {
	border-color: #444
}
.popup .checkbox input:checked + .primary:after {
	border-color: #2196F3
}
.popup .checkbox input:checked + .success:after {
	border-color: #8bc34a
}
.popup .checkbox input:checked + .info:after {
	border-color: #3de0f5
}
.popup .checkbox input:checked + .warning:after {
	border-color: #FFC107
}
.popup .checkbox input:checked + .danger:after {
	border-color: #f44336
}
.modal-content{ border:none;}
.modal-open .modal{background: rgba(0,0,0,0.4); z-index:99999;}
/*==========Login Page===============*/

/*==========About Us Page===============*/
  
.about {
    position: relative;
    z-index: -1;
}
.about-content {
	margin-bottom: 7%;
}
.about-us {
	padding: 5% 7%;
	text-align: center;
	background: #fff;
	margin-top: -38.9%;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 15px rgba(0,0,0,0.2);
	margin-bottom: -10px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.about-us h5 {
	display: inline-block;
	margin-bottom: 25px;
	font-size: 24px;
	border-bottom: 2px solid #fc7d2d;
	padding-bottom: 0;
	font-family: 'museo_sans700';
}
.about-us p {
	text-align: justify;
	font-size: 15px;
	font-family: 'museo_sans300';
	color:#212121;
}
/*========== About Us Page ===============*/  
  
  
/*========== Profile Page ===============*/  


.tebs {
	padding: 1.8em 0;
	background: #f7f7f7;
}
.tebs .nav-pills {
	padding: 0 20px 0 6px;
}
.tebs .flex-column a {
	padding: 15px;
	font-size: 18px;
	color: #000851;
	background: #fff;
	border: 1px solid #d8d8d8;
	font-family: 'museo_sans300';
	font-size:20px;
}
.tebs .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #000851;
	border-radius: 0 5px 5px 0;
}
.tebs .tab-content {
	margin-top: 20px;
	width:100%;
}
.tebs .tab-content h3 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 0;
	color: #242424;
	text-transform: capitalize;
    font-family: 'museo_sans700';
}
.tebs .tab-content > .active p {
	font-size: 14px;
	color: #9f9f9f;
	padding-bottom: 5px;
	font-family: 'museo_sans300';
}
.tebs .tab-content > .active hr{ margin: 20px 0 30px;}
.tebs .fill-sec {
	padding: 32px;
	background: #fff;
	border-radius: 5px;
	margin: 1.5em 0;
	box-shadow: 0 7px 10px rgba(0,0,0,0.1);
}
.tebs .tab-content > .active .fill-sec p {
	padding-top: 0px !important;
}
.tebs .nav-pills .nav-link i {
	float: right;
}
.tebs .fill-sec h4 {
	width: 100%;
	font-size: 18px;
	color: #1e1e1e;
	margin-bottom: 0;
	font-family: 'museo_sans500';
}
.tebs .fill-sec select {
	background: url(../images/arrow01.png) no-repeat right center;
	border: none;
	outline: none;
	padding: 5.5px 0;
	border-bottom: 1px solid #ced4da;
	width: 100%;
	font-size: 14px;
	font-family: 'museo_sans500';
}
.tebs .fill-sec input {
	font-size: 14px;
	padding: 5px 0;
	font-family: 'museo_sans500';
}
.tebs .fill-sec label {
	font-size: 12px;
	color: #bdbdbd;
	margin: 20px 0 -8px 0;
	display: inherit;
}
.tebs .fill-sec h5 {
	width: 100%;
	font-size: 14px;
	margin: 7px 4px;
	font-weight: 500;
	text-transform: capitalize;
}
.tebs .may-Trip {
	background: #fff;
	border-radius: 5px;
	margin: 3% 0%;
	box-shadow: 0 7px 10px rgba(0,0,0,0.1);
}
.tebs .may-Trip p, h6 {
	margin: 0px;
	padding: 0px;
}
.tebs .may-Trip h6 {
	font-size: 18px;
	font-weight: 400
}
.tebs .may-Trip span {
	color: #0def1d;
	font-size: 16px;
	font-weight: 500;
}
.tebs .may-Trip .text-right h4 {
	margin: 0px !important;
	font-weight: 500;
	font-size: 20px;
}
.tebs .may-Trip a {
	font-size: 14px;
	font-weight: 400;
}
.tebs .may-Trip ul h6 {
	font-size: 20px;
	font-weight: 300;
}
.trip_head {
	padding: 30px 30px 15px;
	border-bottom: 1px solid #efefef;
}
.trip_body {
	padding: 0 30px;
}
.trip_body img.air_logo {
	width: 30%;
}
.trip_body .flight_details {
	border-bottom: 1px solid #dadada;
	padding: 20px 0;
	width: 75%;
}
.trip_body .flight_details li {
	position: relative;
	float: left;
	width: 25%;
	padding: 0px 15px;
}
.flight_details li p {
	padding: 0 !important;
}
.trip_body .flight_details li .line_r {
	background: #ddd;
	width: 50px;
	height: 1px;
	display: inline-block;
	position: absolute;
	top: 33px;
	right: 25px;
}
.trip_body .flight_details:last-child {
	border-bottom: none;
}
.tebs p.light-text {
	color: #232323 !important;
}
.tebs .book_id_n {
	font-weight: 400;
}
.tebs select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}
/*========== Profile Page ===============*/
.top-form {
	background-image: linear-gradient( to right, #66141b, #265389);
	padding: 33px;
	width: 100%;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}
.mid-section {
	margin: 30px;
}

.images-section li img {
	max-width: 100%;
	border-radius: 3px;
}

.img-con {
	position: absolute;
	margin-top: -81px;
	margin-left: 15px;
}

.img-con {
	position: absolute;
	margin-top: -110px;
	margin-left: 15px;
	z-index: 9999;
	color: #e1dddd;
}
.images-section li img {
	position: relative;
	opacity: 0.5;
}
.img-cen {
	margin: 0 0 1rem;
	background: #000;
	border-radius: 3px;
	z-index: -1;
}
.img-con strong {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 18px;
}/*--------======================-------------*/
.fillter-outer {
	background: #ffffff;
	width: 100%;
	padding: 20px 0;
	border-radius: 5px;
	text-align: center;
}

.fillter-outer li{display: inline-block;}
.fillter-outer li {
	display: inline-block;
	width: 12%;
	border-right: 1px solid #d0cece;
}
.fillter-outer select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}
.fillter-outer select {
	background: url(../images/arrow01.png) no-repeat right 9px;
	border: none;
	outline: none;
	font-size: 14px;
	max-width: 100px;
	width: 80%;
	cursor: pointer;
	color: #9b9b9b;
}.fillter-outer span {
	color: #c2c2c2;
}
.fillter-outer li span {
	color: #dfdfdf;
}
.fillter-outer li:last-child{border-right: none;}
/*-------------======================-------------------*/
.port-image
{
    width: 100%;
}

.col-md-3
{
    margin-bottom:20px;
}

.each-item
{
    position:relative;
    overflow:hidden;
}

.each-item:hover .cap2, .each-item:hover .cap1
{
    left:0px;
}

.cap1
{
    position:absolute;
    width:100%;
    height:70%;
    background:rgba(255, 255, 255, 0.5);
    top:0px;
    left:-100%;
    padding:10px;
    
    transition: all .5s;
}

.cap2
{
    position:absolute;
    width:100%;
    height:30%;
    background:rgba(0, 178, 255, 0.5);
    bottom:0px;
    left:100%;
    padding:10px;
    
    transition: all .5s;
}
.filter-button {
	border: none;
	outline: none !important;
	background: none;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #645c5c;
}
.filter-button:hover {
	border-bottom: 2px solid #de966c;
	color:#de966c;
} 



/*-------------===============--------*/
.anil_nepal{padding:20px 0px; width:100%; display:block;}
.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}
label {
    font-weight: inherit;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;

    line-height: normal;
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}


.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label {
    background: inherit;
}
.switch-input:checked ~ .switch-label {
    background: #E1B42B;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-left-right .switch-label {
    overflow: hidden;
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
    opacity: 1;
    left: 100px;
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-left-right .switch-label:before {
    background: #eceeef;
    text-align: left;
    padding-left: 80px!important;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 20px;
  
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
     
}

span.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    position: absolute;
  
}

.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label:after {
    left: 0!important;
    opacity: 1;
    padding-left: 20px;
}


.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}


.switch-left-right .switch-label::after {
	text-align: left;
	text-indent: 9px;
	background: #FFF !important;
	left: -100px !important;
	opacity: 1;
	width: 100% !important;
	color: #8e8c8c;
	font-size: 12px;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 20px;
  
}
.switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    	background: #20dd4b;
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

	.switch-handle::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #20dd4b;
}

.let-sec {
	float: left;
	padding: 30px 0 0;
}
.ret-sec {
	float: right;
}
.top-form .slider-form {
	width: 100%;
	padding: 0 0px 8px;
	background: #fcfcfc;
	display: inline-block;
	border-radius: 5px;
margin-top: 0;}
	

 .top-form .input--style-1 {
	font-size: 14px;
	padding: 2.5px 17px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 1px;
	color: #666;
	background: #fff;
	font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}  .top-form .slider-form .input-group::after {
	background: #e6e6e6;
	height: 25px;
	content: "";
	position: absolute;
	width: 1px;
	left: -17px;
} .top-form .slider-form .input-group {
	margin-bottom: 0px;
	text-align: left;
	margin-top: 10px;
}.top-form .slider-form .date_pik {
	position: absolute;
	right: 94%;
	top: 6px;
}
.top-form  .input-icon {
	font-size: 24px;
	color: #808080;
	line-height: inherit;
 text-align: center; 
	cursor: pointer;
	top: -7px;
	right: 17px;
}.top-form .dropdown-select.show {
	display: block;
	z-index: 100000;
}
.top-form .input-group-1 {
	font-size: 14px;
	padding: 2.5px 17px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 1px;
	color: #666;
	background: #fff;
	font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
	margin-top: 9px;
}.col-lg-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
}
 .top-form .btn {
	background: #fe7b21;
	font-size: 15px;
	color: #fff;
}
 
.top-form .col-lg-2 {
	padding-left: 0;
}
.dsh-map-view img {
	max-width: 100%;
	width: 100%;	
}
.hotal-img {
	width: 100%;
	height: 350px;
	background: #FFF;
	border-radius: 3px;
	overflow: hidden;
}


.mid-all-section{background: #f5f5f5;}
.mid-section .images-section {
	margin-left: -15px;
	margin-right: -15px;
}
.mid-section li {
	padding-left: 15px;
	padding-right: 15px;
	width: 19.6%;
}

.fillter-outer ul {
	margin-left: -15px;
	margin-right: -15px;
}
.fillter-outer li {
	padding-left: 15px;
	padding-right: 15px;
}
 	.map-view img {
	max-width: 100%;
	width: 100%;
}